@media screen and (max-width: 767px) {
    .nav-ul{
        display: none;
    }
    .contacts{
        display: none;
    }
    .articles-pic{
        display: none;
    }
}

@media screen and (min-width: 320px) {
    .container{
        width:480px;
        padding-left:16px;
        padding-right: 16px;
        margin: 0 0;
    }
    /* ********************************************************** */
    .header,
    container-nav{
        width:480px;
        margin: 0 0;
        display: flex; 
    flex-wrap: wrap;
    }
    .nav{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .logo{
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: calc(21 / 18);
        text-decoration: none;
        color: var(--font-color);
        margin-right: 250px;
        
        
    }
    .logo > span{
        color: var(--nav-hover);
    }
    .open-menu{
        background-color: rgba(28,28,28,0);
        border: none;
    }
    .menu-container{
        position: absolute;
        width: 480px;
        
        top: 0;
        left: 0;
        padding-left: 40px;
        padding-top: 80px;
        background: #FFFFFF;
        padding-bottom: 40px;
    }
    .menu-close{
        position: absolute;
        width: 24px;
        height: 24px;
        right: 24px;
        top: 24px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .menu-ul li {
        margin-bottom: 40px;
    }
    .menu-ul {
        margin-bottom: 284px;
    }
    .mob-menu-item{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 111% */

        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        text-decoration: none;
    }
    .menu-contacts li {
        margin-bottom: 48px;  
    }
    .menu-contacts{margin-bottom: 8px;}
    .menu-tel{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 111% */
        
        letter-spacing: 0.02em;
        text-transform: capitalize;
        
        /* IRIS */
        
        color: #4D5AE5;
        text-decoration: none;
        
    }
    .menu-mail{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height, or 120% */

        letter-spacing: 0.02em;

        /* SLATE */

        color: #434455;
        text-decoration: none;
        
    }
    .menu-socials{
     display: flex;
     /*justify-content: center;*/
     margin-right: 16px;
     
   
     box-shadow: initial;
 }
 .menu-socials-li{
     display: flex;
     margin-right:0px;
     box-shadow: none;
 }
 .menu-socials li:not(:last-child){
     margin-right: 56px;
 }
 .menu-socials-button{
     fill: #AFB1B8; 
     border-radius: 50%;
     max-width: 40px;
     max-height: 40px;
     padding: 12px;
     box-shadow: none;
     transition: fill 250ms linear;
     transition: background-color 250ms linear;
     background: #4D5AE5;
 }


    /*****************************   HERO    ********************************  */
    .hero{
        text-align: center;
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 428px;
        height: 432px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        /* padding-left: 452px; */
        /* padding-right: 452px; */
        margin: 0;
        
         background-image: linear-gradient(   
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ), url(../images/hero-mob.jpg); 
        
    }


    .container-hero{
        /* ???????????????*/
        /*background: var(--hero-bgcolor);*/
         max-width: 320px;  
         padding-left: 54;
        padding-right: 54;
        margin-left: 38px;
        margin-right: 54px;
     }
     .hero-title{  
         font-family: Roboto;
         font-style: normal;
         font-weight: 700;
         font-size: 36px;
        line-height: 40px;
         text-align: center;
     
         letter-spacing: 0.02em;
         color: var(--hero-font-color);
          width: 320px; 
          
         /*margin-left: 237px; 
         margin-right: 237px;    */   
     }    
      .hero-button{
         cursor: pointer;
         border: none;
         width: 169px;
         height: 56px;
         /* left: 700px; */
         top: 430px;
         background: var(--nav-hover);
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
         border-radius: 4px;
         font-family: inherit;
         font-size: 16px;
         font-style: normal;
         font-weight: 700;
         line-height: 1.87;
         letter-spacing: 0.04em;
         text-align: center;
         color: var(--hero-font-color);
         margin-top: 72px;
        padding-right: 0;
        margin-left: 30px;
      
         }

         

 /*         activity */
    .activity{
        display: none;
    }

 /* *******************             articles    ***********************/

 .articles-container{
    display: flex;
    
   justify-content: center;
}

    .articles-container-pic{
        display: none;
        margin: 0;
    }

.articles{
    display: flex;
    flex-wrap: wrap;
}

.articles li{
    max-width: 396px;
    margin-left: 16px;
}


    .articles-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 111% */

        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;

        margin-bottom: 8px;
    }
    .article{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        /*===============    наша комманда     ===================*/line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--article-color);
    }


/*===============    наша комманда     ===================*/
.command{
    background:  #F4F4FD;;
 }
 .activity-title,
 .command-title,
 .clients-title{
     font-size: 36px;
     font-style: normal;
     font-weight: 700;
     line-height: calc(40 / 36);
     text-align: center;
     margin-bottom: 72px;
  }
  .command-list{
      display: block;
      margin: 0 66px;
      width: 264px;
      
  }
  .command-li{
      
 background: #FFFFFF;
     box-shadow: 
     0px 1px 3px rgba(0, 0, 0, 0.12), 
     0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 0px 0px 4px 4px;
     width: 264px;
     
     
  }
  
  .command-foto{
     display: block;
     /*max-width: 100%;*/
     height: auto;
  }
  .figure-caption{
     padding-top: 32px;
     width: 264px;
  }
 
 .command-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
     margin-bottom: 8px;
  }
 .command-position{
     font-size: 16px;
     font-weight: 400;
     line-height: 1.18;
     letter-spacing: 0.03em;
     text-align: center;
     color: var(--command-position-font-color);
     margin-bottom: 8px;
 }
 .socials{
     display: flex;
     /*justify-content: center;*/
     margin-left:16px;
     margin-right: 16px;
     padding-bottom: 32px;
     margin-bottom: 32px;
     box-shadow: initial;
 }
 .socials-li{
     display: flex;
     margin-right:0px;
     box-shadow: none;
 }
 .socials li:not(:last-child){
     margin-right: 24px;
 }
 .socials-button{
     fill: #AFB1B8; 
     border-radius: 50%;
     max-width: 40px;
     max-height: 40px;
     padding: 12px;
     box-shadow: none;
     transition: fill 250ms linear;
     transition: background-color 250ms linear;
     background: #4D5AE5;
 }
 /*===============    Постоянные клиенты    =================================*/
.clients{
    padding-bottom: 96px;
    padding-top: 96px;
    width: 480px;
    
 
}
.clients-list{
    display: flex; 
    flex-wrap: wrap;
    /* width: 160px;
    height: 88px; */
}

.clients-list li:nth-child(-n+4){
    margin-bottom: 72px;}
.clients-list li:nth-child(even){
    margin-left: 16px;
   
}
.clients-list li:nth-child(n+5){
    margin-bottom: 0;}
.client-pic{
    padding: 16px 32px;
    width: 190px;
   
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    /* box-sizing: border-box; */
    border-radius: 4px;
    transition: fill 250ms linear;
}

/* --------------------------  footer  ----------------------------*/
.footer{
    background: var(--footer-bgcolor);
    padding-top: 97px;
    padding-bottom:104px;
    width: 480px;
}
.container-footer{
    padding-left: auto;
    padding-left: auto;
    display:block;
    align-items: baseline;
    margin: 0;
    
}
.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* CLOUD */

    color: #F4F4FD;
    margin-bottom: 17px;
   margin-left: 155px;
    display: block;
}
.footer-logo  span{
    color: var(--nav-hover);
}
/* .footer-contacts-list{} */


.advert{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;
color: #F4F4FD;
max-width: 264px;
margin-left: 80px;
margin-bottom: 72px;
}



.footer-join{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}
/*===============================*/
.socials-part{
  
    margin-bottom: 72px;
}
.footer-socials{
    display: flex;
    margin-left: 110px;
   
   
}
.footer-socials-li{
    display: flex;
    margin-right:0px;
}
.footer-socials li:not(:last-child){
    margin-right: 16px;}
.footer-socials-button{
    fill: #FFFFFF; 
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    padding: 8px;
    background: #4D5AE5;;
    transition: background-color 250ms linear;
}


.footer-subscribe{
    margin: 0;
}

.footer-mail{
    width: 428px;
    height: 40px;

    background: #2F303A;
   
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    /* display: flex; */
    align-items: center; /**/
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    margin-left: 0px;
    margin-bottom: 16px;
}
.but-wrap{
    position: relative;
}

.footer-button{
    width: 165px;
    height: 40px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-left: 131px;
    
    cursor: pointer;
    border: none;

}
.button-pic{
   
    /*position: absolute;
    left:148px;
    top: 13px;*/
    position: relative;
    margin-left: 16px;
   padding-top: 10px;
}


/* ============== модальное окно ============================================== */
@media screen and (max-width: 1199px) {
 .modal{
    position: absolute;
    width: 408px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 396px/*55%*/;
    left: 220px/*52%*/;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms;
    padding-top: 72px;
    padding-left: 24px; 
    padding-bottom: 24px;  
} 
}
}





