@media screen and (max-width: 767px) {
    .nav-ul{
        display: none;
    }
    .contacts{
        display: none;
    }
    .articles-pic{
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .container{
        width:428px;
        padding-left:16px;
        padding-right: 16px;
        margin: 0 auto;
    }
    .section{
        width: 428px;
    }
    /* ********************************************************** */
    
    /*****************************   HERO    ********************************  */
    
         

 /*         activity */
    .activity{
        display: none;
    }

 
 

 
/* --------------------------  footer  ----------------------------*/
.footer{
    background: var(--footer-bgcolor);
    padding-top: 97px;
    padding-bottom:104px;
    width: 428pxpx;
}
.container-footer{
    padding-left: auto;
    padding-left: auto;
    display:block;
    align-items: baseline;
    margin: 0;
    
}


/* ============== модальное окно ============================================== */

}
